.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    margin: 0;
}

.menu {
    z-index: 3;
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    background-color: #555;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + label .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#menu-toggle:checked + label .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + label .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#menu-toggle:checked ~ .menu {
    display: flex;
}

@media (min-width: 1200px) {
    .menu {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 20px;
        background: none;
        padding: 0;
    }

    .hamburger {
        display: none;
    }

    #menu-toggle {
        display: none;
    }
    
}
