.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 3em;
    margin: 0;
}

.hero-text p {
    font-size: 1.2em;
    margin-top: 10px;
    color: white;
}